:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-black: #0f0f0f;

  --text-white: #fff;
  --text-gray: #9e9e9e;
  --text-gray-2: #757575;
  --text-gray-3: #757575;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-white);
    background-color: var(--bg-black);
  }
  a:hover {
    color: #747bff;
  }
}
